<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake News Prediction</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}"
</head>
<body>
    <div id="container">
        <h1>📰 Fake News Prediction</h1>
        <form action="/" id="form" method="post">
            <input type="text" name="text" placeholder="Enter text" required>
            <button type="submit">Predict</button>
        </form>
        <h2>{{prediction}}</h2>
    </div>
</body>
</html>
